.mineCount {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left;
    color: #f0c26e;
}
.emojiSpace {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #f0c26e;
}
.emoji {
    cursor: pointer;
}
.timeCount {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
    color: #f0c26e;

}
.scores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}